lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

settings.json

pids
logs
results
node_modules
web/node_modules
web/dist
_alexaFiles

npm-debug.log

/Web/sw.web.sublime-project

/Web/sw.web.sublime-workspace
